<form class="main-content" method="post" action="/courses/handle-stored-courses">
    <h1 class="text-start mt-4">My Courses</h1>
    <a href="/me/trash/courses" class="text-start mt-2 trash-num">Trash( {{deleteCount}} )</a>
    {{#if courses}}
    <div class="course-action align-items-center d-flex">
        <label class="form-switch checked-all" for="checkbox-all">
            <input class="form-check-input me-1" id="checkbox-all" type="checkbox" value="">
            Checked all
        </label>
        <select class="course-option" name="action" id="" required>
            <option value="">-- Actions --</option>
            <option value="delete">Delete</option>
        </select>
        <button class="btn btn-primary btn-apply disabled" type="submit">Apply</button>
    </div>

    {{!-- course table --}}
    <table class="table table-dark table-striped mt-4">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Num</th>
                <th scope="col">Course Image</th>
                <th scope="col">Course Name</th>
                <th scope="col">Time</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr class="align-middle">
                <td>
                    <input name="checkId[]" class="form-check-input me-1" type="checkbox" value="{{this._id}}">
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>
                    <img src="{{this.image}}" alt="Course Image" class="img-fluid" style="width: 100px; height: 100px; 
                        object-fit: contain;">
                </td>
                <td>{{this.name}}</td>
                <td>{{formatDate this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-primary">Update Course</a>
                </td>
                <td>
                    <a href="" data-id="{{this._id}}" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#deleteCourse">Delete Course</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <div class="mt-5 text-center">
        You have not stored any courses yet.
        <a href="/data_handle/create" class="alert-link">Create a course</a> to get started.
    </div>
    {{/if}}
</form>

{{!-- confirm madal --}}
<div class="modal fade" id="deleteCourse" tabindex="-1" aria-labelledby="deleteCourseLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Course</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete this course?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

{{!-- form hidden delete course --}}
<form name="delete-course-form" method="post"></form>

<script src="https://unpkg.com/wicg-inert@3/dist/inert.min.js"></script>
<script>
    const deleteCourse = document.getElementById('deleteCourse');
    const deleteCourseForm = document.forms['delete-course-form'];
    const btnDeleteCourse = document.getElementById('btn-delete-course');
    const checkboxAll = document.getElementById('checkbox-all');
    const checkItems = document.querySelectorAll('input[name="checkId[]"]');
    const applyBtn = document.querySelector('.btn-apply');
    var idCourse;


    window.addEventListener('DOMContentLoaded', function () {

        // get id of course to delete
        deleteCourse.addEventListener('show.bs.modal', function (event) {

            var button = event.relatedTarget;

            idCourse = button.getAttribute('data-id');

        });

        // delete course
        btnDeleteCourse.addEventListener('click', function (event) {

            deleteCourseForm.action = `/courses/${idCourse}?_method=delete`;
            deleteCourseForm.submit();

        });

        // select all checkboxes
        checkboxAll.onchange = function () {
            const isCheckedAll = this.checked;

            isCheckedAll ? applyBtn.classList.remove('disabled') : applyBtn.classList.add('disabled');

            checkItems.forEach(checkItem => checkItem.checked = isCheckedAll);
        };

        // Course items checkbox
        checkItems.forEach(function (checkItem) {
            checkItem.onchange = function () {
                const numCheckedItems = document.querySelectorAll('input[name="checkId[]"]:checked');
                checkboxAll.checked = (checkItems.length == numCheckedItems.length);

                updateApplyButtonState();
            };
        });

        // Apply button state
        function updateApplyButtonState() {
            const numChecked = document.querySelectorAll('input[name="checkId[]"]:checked').length;
            const isAnyChecked = numChecked > 0;

            applyBtn.classList.toggle('disabled', !isAnyChecked);
            applyBtn.disabled = !isAnyChecked;
        }

    });
</script>
