<form class="main-content" method="post" action="/courses/handle-trash-courses">
    <h1 class="text-start mt-4">Trash Courses</h1>
    {{#if trashCourses}}
    <div class="course-action align-items-center d-flex">
        <label class="form-switch checked-all" for="checkbox-all">
            <input class="form-check-input me-1" id="checkbox-all" type="checkbox" value="">
            Checked all
        </label>
        <select class="course-option" name="action" id="" required>
            <option value="">-- Actions --</option>
            <option value="restore">Restore</option>
            <option value="force-delete">Permanently delete</option>
        </select>
        <button class="btn btn-primary btn-apply disabled" type="submit">Apply</button>
    </div>
    <table class="table table-dark table-striped mt-5">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Num</th>
                <th scope="col">Course Image</th>
                <th scope="col">Course Name</th>
                <th scope="col">Time</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each trashCourses}}
            <tr class="align-middle">
                <td>
                    <input name="checkId[]" class="form-check-input me-1" type="checkbox" value="{{this._id}}">
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>
                    <img src="{{this.image}}" alt="Course Image" class="img-fluid" style="width: 100px; height: 100px; 
                        object-fit: contain;">
                </td>
                <td>{{this.name}}</td>
                <td>{{formatDate this.deletedAt}}</td>
                <td>
                    <a href="" data-id="{{this._id}}" class="btn btn-primary btn-restore">Restore Course</a>
                </td>
                <td>
                    <a href="" data-id="{{this._id}}" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#deleteCourse">Delete Course</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <div class="mt-5 text-center">
        <h3>Your trash is empty</h3>
    </div>
    {{/if}}
</form>

{{!-- confirm madal --}}
<div class="modal fade" id="deleteCourse" tabindex="-1" aria-labelledby="deleteCourseLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Completely Delete Course</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure want to completely delete this course?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger">Comfirm Delete</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

{{!-- form hidden delete course --}}
<form name="delete-course-form" method="post"></form>
<form name="restore-course-form" method="post"></form>

<script src="https://unpkg.com/wicg-inert@3/dist/inert.min.js"></script>
<script>
    const deleteCourse = document.getElementById('deleteCourse');
    const deleteSubmitForm = document.forms['delete-course-form'];
    const restoreSubmitForm = document.forms['restore-course-form'];
    const btnDeleteCourse = document.getElementById('btn-delete-course');
    const restoreButtons = document.querySelectorAll('.btn-restore');
    const checkboxAll = document.getElementById('checkbox-all');
    const checkItems = document.querySelectorAll('input[name="checkId[]"]');
    const applyBtn = document.querySelector('.btn-apply');
    var idCourse;


    window.addEventListener('DOMContentLoaded', function () {

        // get id of course to delete
        deleteCourse.addEventListener('show.bs.modal', function (event) {

            var button = event.relatedTarget;
            idCourse = button.getAttribute('data-id');

        });

        // delete course
        btnDeleteCourse.addEventListener('click', function (event) {

            deleteSubmitForm.action = `/courses/${idCourse}/force?_method=delete`;
            deleteSubmitForm.submit();

        });

        // restore course
        restoreButtons.forEach(restoreButton => {
            restoreButton.addEventListener('click', function (e) {
                e.preventDefault();
                const restoreId = this.getAttribute('data-id');

                // set action for submit form
                restoreSubmitForm.action = `/courses/${restoreId}/restore?_method=patch`;
                restoreSubmitForm.submit();
            });
        });

        // select all checkboxes
        checkboxAll.onchange = function () {
            const isCheckedAll = this.checked;

            applyBtn.classList.toggle('disabled', !isCheckedAll);
            checkItems.forEach(checkItem => checkItem.checked = isCheckedAll);
        }

        // Course items checkbox
        checkItems.forEach(checkItem => {
            checkItem.onchange = () => {
                const isCheckedAll = Array.from(checkItems).every(item => item.checked);

                checkboxAll.checked = isCheckedAll;
                updateApplyButtonState();
            }
        })

        // Apply button state
        const updateApplyButtonState = () => {
            const isAnyChecked = Array.from(checkItems).some(item => item.checked);

            applyBtn.classList.toggle('disabled', !isAnyChecked); // Toggle disabled class
            applyBtn.disabled = !isAnyChecked; // Toggle disabled attribute
        }

    });
</script>